html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: --text-color;
}

body.modal-open,
body.is-open {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

