.hero {
  padding-top: 132px;
  padding-bottom: 91px;
}

.hero-title {
  margin-bottom: 28px;
  font-size: 28px;
}

.hero-text {
  font-size: 14px;
  margin-bottom: 32px;
  line-height: 1.43;
}

.hero-img {
  display: none;
}



@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 86px;
  }

  .hero-container {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .hero-wrapper {
    width: 336px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  .hero-title {
    max-width: 537px;
    margin-bottom: 0;
    font-size: 42px;
    line-height: 1.2;
  }

  .hero-text {
    margin-bottom: 40px;
    max-width: 336px;
    font-size: 16px;
    line-height: 1.5;
  }

  .hero-img {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 64px;
  }

  .hero-container {
    height: 580px;
    
  }

  .hero-wrapper {
    max-width: 512px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 0;
    margin-left: 160px;
  }

  .hero-title {
    margin-bottom: 28px;
    font-size: 48px;
    align-content: center;
  }

  .hero-text {
    width: 511px;
  }
}


