
.subscribe {
    padding-top: 176px;
    padding-bottom: 201px;
  }
  
  .subscribe-wrapper {
    width: 656px;
    height: 184px;
  }
  
  .subscribe-title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .subscribe-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
  }
  
  .container-subscribe {
    display: flex;
    align-items: center;
    gap: 38px;
  }
  
  .subscribe-btn {
    padding: 10px 20px;
    min-width: 103px;
    height: 42px;
    border: 2px solid transparent;
    transition: border-color 250ms ease, background-color 250ms ease;
  }
  
  .subscribe-btn:hover,
  .subscribe-btn:focus {
    border-color: #ffe450;
    background-color: #ffe450;}
  

.form {
    display: flex;
    gap: 32px;
  }
  
  .input-subscribe {
    border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding: 10px ;
    outline: none;
    width: 394px;
    background-color: #fefefe;
    transition: border-color 250ms ease;
  }
  
  .input-subscribe::placeholder {
    font-size: 12px;
    color: #505050;
  }
  
  .input-subscribe:focus-within,
  .input-subscribe:focus,
  .input-subscribe:hover {
    border-color: #bbf330;
  }
  