<section class="customers" id="customers">
    <div class="container">
      <h2 class="customers-title">What our Customers Say</h2>
      <p class="customers-text">
        Don't just take our word for it - see what our satisfied customers
        have to say
      </p>
      <ul class="customers-list">
        <li class="customers-item">
          <p class="customers-description">
            “The Best app I have used to order food in a while, so many
            options to choose from too, I would recommend to a freind, No
            questions asked”
          </p>
          <div class="customers-wrapper">
            <img src="./images/Ellipse 9-min.png" alt="a man" width="48" height="48" />
            <div>
              <h3 class="customers-subtitle">Sumith Shah</h3>
              <p class="customers-name">Some Dude</p>
            </div>
          </div>
        </li>
        <li class="customers-item">
          <p class="customers-description">
            “The ease with which I can just go in and order what i want was
            amazing, It has been a very pleasant experience ordering from
            this app”
          </p>
          <div class="customers-wrapper">
            <img src="./images/Ellipse 10-min.png" alt="a woman" width="48" height="48" />
            <div>
              <h3 class="customers-subtitle">Sumith Shah</h3>
              <p class="customers-name">Some Dude</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>