<footer class="footer" id="info">
  <div class="container container-footer">
    <div class="footer-wrapper"><div class="footer-nav-wrap"> <a href="" class="logo"><img src="./images/Vector.svg" alt="logo FoodSta" width="66"
          height="52" /></a>
      <ul class="footer-list">
        <li class="footer-item"><a href="">Home</a></li>
        <li class="footer-item"><a href="">About</a></li>
        <li class="footer-item"><a href="">Service</a></li>
        <li class="footer-item"><a href="">Menu</a></li>
        <li class="footer-item"><a href="">Contact</a></li>
        <li class="footer-item"><a href="">Customers</a></li>
      </ul>
    </div>
    <div class="footer-form-wrapper">
      <p class="footer-subtitle">Subscribe</p>
      <form class="footer-form">
        <label>
          <input type="email" placeholder="Enter your email" class="footer-input" /></label>
        <button type="submit" class="about-btn">Subscribe</button>
         </form>
         <p class="footer-text-policy">
          By subscribing you agree to with our <a href="" class="footer-policy">Privacy Policy</a>
        </p>
    </div>
  </div>
<div class="footer-text-wrapper">
    <ul class="footer-policy-list">
      <li class="footer-policy-item"><a href="">Privacy Policy</a></li>
      <li class="footer-policy-item"><a href="">Terms of Service</a></li>
      <li class="footer-policy-item"><a href="">Cookies Settings</a></li>
    </ul>
    <p class="footer-text-reserved">2022 FoodSta. All right reserved.</p>
   </div>
  </div>
</footer>