

<header class="header ">
  <div class="container header-container">
    <a class="logo"><img src="./images/Vector.svg" alt="logo FoodSta" width="66" height="52" /></a>
      <!-- Menu burger  -->
      <div class="burger js-menu js-menu-close" data-menu-button>
        <span class="burger-icon"></span>
      </div>
      <!-- Navigation -->
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nave-item"><a href="#home" class="nav-link current">Home</a></li>
        <li class="nave-item"><a href="#about" class="nav-link">About</a></li>
        <li class="nave-item"><a href="#menu" class="nav-link">Menu</a></li>
        <li class="nave-item"><a href="#customers" class="nav-link">Customers</a></li>
        <li class="nave-item"><a href="#subscribe" class="nav-link">Subscribe</a></li>
        <li class="nave-item"><a href="#info" class="nav-link">Info</a></li>
      </ul>
    </nav>
    <button type="button" class="header-button btn" data-modal-open>Order Now</button>
  </div>
</header>