<section class="menu" id="menu">
    <div class="container menu-container">
      <h2 class="menu-title">Some of Our Favorites</h2>
      <p class="menu-text">Looking for something delicious?</p>
      <ul class="menu-list">
        <li class="menu-list-item">
          <img src="./images/gamburger-min.png" alt="hamburger" width="315" height="315" />
        </li>
        <li class="menu-list-item">
          <img src="./images/Pasta-min.png" alt="pasta" width="315" height="315" />
        </li>
        <li class="menu-list-item">
          <img src="./images/pizza-min.png" alt="pizza" width="315" height="315" />
        </li>
        <li class="menu-list-item">
          <img src="./images/chicken-min.png" alt="chicken with rice" width="315" height="315" />
        </li>
        <li class="menu-list-item">
          <img src="./images/salat-min.png" alt="salad" width="315" height="315" />
        </li>
        <li class="menu-list-item">
          <img src="./images/borshch-min.png" alt="borshch" width="315" height="315" />
        </li>
      </ul>
    </div>
  </section>