<section class="subscribe" id="subscribe">
    <div class="container container-subscribe">
      <div class="subscribe-wrapper">
        <h2 class="subscribe-title">Subscribe To Get Special Offers</h2>
        <p class="subscribe-text">
          Order now and receive 10% off your first meal with Enjoy Your
          Favorite Food From Anywhere.
        </p>
        <form class="form">
          <input type="email" placeholder="Enter your email" class="input-subscribe" />
          <button type="submit" class="btn">
            Subscribe
          </button>
        </form>
      </div>
      <img src="./images/banan-min.png" alt="banana" width="608" height="266" />
    </div>
  </section>